/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(51, 51, 51);
}
/*Logo*/
.logo{
    width: 50px;
    float: right;
    padding-right: 20px;
}
/*Body y eso*/
.centered {
    justify-content: center;
    align-items: center;
}

body {

    background-image: url(backimage.png);
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: 150%;
    background-position-x: center;
    font-family: Montserrat;
}

footer {
    opacity: 40%;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
}

h1 {
    color: rgb(64, 110, 153);
    text-align: center;
    font-size: 100px;
}

h2 {
    opacity: 80%;
    color: rgb(64, 110, 153);
    text-align: center;
    font-size: 80px;
}

.carouselimage {

    width: auto;
    height: 2%;
}